<h1>Registro de exame</h1>

<h1>Nome do exame: {{exam.name}}</h1>

<h2>Tipo: {{exam.type}}</h2>
{{#if exam.status}}
  <h2>Status: {{exam.status}}</h2>
{{else}}
  <h2>Status: Inativo</h2>
{{/if}}
<h2>Laboratórios vinculados: {{exam.name}}</h2>

<a href="/exams/edit-exam/{{exam.id}}"><button>Atualizar</button></a>
<a href="/exams/delete/{{exam.id}}"><button>Deletar</button></a>