<h1>Atualizar laboratório</h1>

<form action="/laboratories/edit-lab/{{laboratory._id}}" method="post">
  <label for="">Nome do laboratório:</label>
  <input placeholder="{{laboratory.name}}" type="text" name="name" required>

  <label for="">Endereço:</label>
  <input placeholder="{{laboratory.address}}" type="text" name="address" required>

  <select name="status" class="" required>
    <option value="" disabled selected>Escolha o status</option>
    <option value="Ativo">Ativo</option>
    <option value="">Inativo</option>
  </select>

  <h2>Vincular / Desvincular exames do laboratório: </h2>

  {{!-- COLOCAR PARA VINCULAR OS EXAMES, RENDERIZAR A LISTA DE EXAMES DISPONIVEL NO BANCO --}}

  <div>
    {{#each laboratory.exams}}   
      <ul>
        <li>
        <label for="exams"> {{@index}} - {{this}}</label>
        <input value="{{this}}" type="checkbox" id="exams" name="exams" checked>
        </li>
      </ul>
    
    {{/each}}  
  </div>

  <button type="submit">Salvar</button>
</form>
