<section class="card-detail-container">
  <div class="card-details">
    <h1>Informações do laboratório</h1>
    <hr>
    <h2>Nome: {{laboratory.name}}</h2>
    <h2>Endereço: {{laboratory.address}}</h2>
    {{#if laboratory.status}}
      <h2>Status: <span class="txt-active">{{laboratory.status}}</span></h2>
      {{else}}
        <h2>Status: <span class="txt-inactive">Inativo</span></h2>
    {{/if}}
    <div id="exams-associated">
      <h2>Exames realizados no laboratório</h2> <br>
      <div class="row-laboratory-details">
        <div class="column">
          <h2>ANÁLISE CLÍNICA</h2>
          {{#each filteredAnalyzes}}
            {{#if this}}
              <p class="list-layout">{{this}}</p>
            {{/if}}
          {{/each}}
        </div>
        <div class="column">
          <h2>IMAGENS</h2>
          {{#each filteredImages}}
            {{#if this}}
              <p class="list-layout">{{this}}</p>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <br>
    </div>
    <div class="button-container">
      <a href="/laboratories/edit-lab/{{laboratory.id}}"><button class="button"><span>Atualizar</span></button></a>
      <a href="/laboratories/delete/{{laboratory.id}}"><button class="button button-delete"><span>Deletar</span></button></a>
    </div>
  </div>
</section>