<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 <h1>Nome do laboratório: {{laboratory.name}}</h1>
 <h2>Endereço: {{laboratory.address}}</h2>
 {{#if laboratory.status}}
 <h2>Status: {{laboratory.status}}</h2> 
 {{else}}
  <h2>Status: Inativo</h2> 
 {{/if}}
 <h2>Exames vinculados: {{laboratory.name}}</h2>
</body>
</html>