<h1>Registro do laboratório</h1>
<h1>Nome do laboratório: {{laboratory.name}}</h1>
<h2>Endereço: {{laboratory.address}}</h2>
{{#if laboratory.status}}
  <h2>Status: {{laboratory.status}}</h2>
{{else}}
  <h2>Status: Inativo</h2>
{{/if}}
<h2>Exames vinculados: {{laboratory.name}}</h2>

<a href="/laboratories/edit-lab/{{laboratory._id}}"><button>Atualizar</button></a>
<a href=""><button>Deletar</button></a>